<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="field has-addons">
        <div class="control is-expanded">
            {{ form.name }}
        </div>
        <div class="control">
            <button class="button is-info">
                Add City
            </button>
        </div>
    </div>
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>{% for weather in weather_data %}</div>
<div>
    {{weather.city_name}}
    <a href="{% url 'delete_city' city_name=weather.city_name %}">DELETE</a>
</div>
<div>{{weather.temperature}}</div>
<div>{{weather.sensed_temperature}}</div>
<div>{{weather.description}}</div>
<div>{{weather.icon}}</div>
<div>-----------------------------------</div>
{% endfor %}
</body>
</html>